.switchthemeback{
    display: block;
    height: 30px;
    width: 60px;
    background-color: var(--switch-back);
    border-radius: 20px;
}

.switchthemeback::after{
    content: "";
    animation: moveleft 0.2s linear;
    /* animation: attr(data-animate); */
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    height: 28px;
    width: 30px;
    border-radius: 20px;
    background-color: var(--switch-ball);
    overflow: hidden;
    cursor: pointer;
}

.dark .switchthemeback::after{
    right: 1px;
    left: auto;
    animation: moveright 0.2s linear;

}

.dark .lighticon{
    display: none;
}

@keyframes moveleft {
    0%{
        left: 29px;
    }
    50%{
        left:15px;
    }
    100%{
        left:1px;
    }
}

@keyframes moveright {
    0%{
        left:1px;
    }
    50%{
        left:15px;
    }
    100%{
        left:29px;
    }
}

.switchtheme{
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.lighticon{
    position: absolute;
    top:50%;
    left: 6px;
    transform: translateY(-50%);
}

.darkicon{
    position: absolute;
    top:50%;
    right:6px;
    transform: translateY(-50%);
    display: none;
}

.dark .darkicon{
    display: block;
}