.smsbody h2{
    text-align: center;
}

.smsbody p{
    text-align: center;
    padding-top: 10px; 
}

.smsbody h2{
    color: #0ea5e9;
}

.sinfo{
    margin-top: 20px;
}

.userinputs{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    margin-top: 30px;
}

.userinputs label{
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
    cursor: text;
}

.number, .times{
    position: relative;
}

.userinputs input{
    height: 40px;
    width: 225px;
    background-color: var(--main-col);
    border: 1px solid var(--option-back);
    border-radius: 4px;
    padding: 10px;
    font-size: 0.8rem;
    outline: none;
}

.userinputs input:focus + label, .filled label{
    font-size: 0.84rem;
    top:-30%;
    transform: translateY(-10%);
    background-color: var(--main-col);
    color: #0ea5e9;
    left: 10px;
    padding: 0 5px;
}

.speed{
    width: 225px;
}

.submit, .again{
    text-align: center;
    margin-top: 30px;
}
.again{
    display: none;
}
.submit button, .again button{
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #0ea5e9;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.submit button:hover, .again button:hover{
    background-color: #0ea5e9e8;
    scale: 1.05;
}

.error input{
    position: relative;
    outline: 1px solid red;
    border: none;
}

.status {
    display: none;
}

.status p strong{
    font-size: 1.2rem;
}

.userinputs svg{
    height: 14px;
    width: 24px;
    position: absolute;
    top:50%;
    left:100%;
    transform: translate(0%, -50%);
    cursor: pointer;
}
.userinputs svg path{
    fill: var(--text);
}

.userinputs svg:hover ~ .info{
    display: block;
}

p.info{
    font-size: 0.8rem;
    position: absolute;
    left: 115%;
    width: 200px;
    color: var(--main-col);
    background-color: var(--header-back);
    color: var(--text);
    border-radius: 4px;
    padding: 6px;
    top:50%;
    transform: translate(-2%, -50%);
    display: none;
}

.info::before{
    content: "";
    background-color: var(--header-back);
    height: 10px;
    width: 10px;
    display: inline-block;
    position: absolute;
    left: -2%;
    top:50%;
    transform: translate(0,-50%) rotate(45deg);
}

@media screen and (max-width:700px) {
    .info::before{
        left:50%;
        top:-2%;
    }
    p.info{
        left:50%;
        top:120%;
        transform: translate(-50%,0);
        z-index: 2;
    }
    .userinputs svg:hover ~ input{
        border: 2px solid white;
    }
}