.projects .left svg, .projects .right svg {
    fill:var(--text);
    display:none;
}

@media screen and (max-width:800px) {
    .dim{
        visibility: hidden;
    }
    .card{
        padding: 10px;
    }
    .projects{
        padding: 20px 20px;
    }
    .mobilecard{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap:3vw;
        padding: 15px 0;
        position: relative;
        width: 100vw;
    }
    .cards .card{
        max-width: 75%;
    }
    .left, .right{
        position: relative;
    }
    .projects .left svg, .projects .right svg {
        display: block;
        width: 30px;
        height: 50px;
    }
    .left{
        left: 0;
    }
    .right{
        right: 0;
    }
}