saiteja.site {
        reverse_proxy localhost:4173
        log {
                output file /var/log/caddy/access.log
                format json
        }
}

www.saiteja.site {
        redir https://saiteja.site{uri}
}

restart.saiteja.site {
        reverse_proxy localhost:3000
}