saiteja.site {
        reverse_proxy localhost:4173
        log {
                output file /var/log/caddy/access.log
                format json
        }
        @staticFiles {
                path /assets/* /static/* *.js *.css *.png *.jpg *.jpeg *.webp *.svg *.woff2 *.ttf
        }
        header @staticFiles Cache-Control "public, max-age=2592000, immutable"
        header /index.html Cache-Control "no-cache, must-revalidate"
}

www.saiteja.site {
        redir https://saiteja.site{uri}
}

cmrstatic.saiteja.site {
        root * /home/ubuntu/cmrimages
        file_server
        @staticFiles {
                path *.jpg
        }
        header @staticFiles Cache-Control "public, max-age=2592000, immutable"
}

url.saiteja.site {
        reverse_proxy localhost:4173/api/urlredirect
}