header{
    height: 8vh;
    width: 100%;
    background-color: var(--header-back);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.mainnav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5vw;
}

.mainlogo a{
    text-decoration: none;
    color: var(--text);
    font-size: 1.25rem;
    margin-left: 10px;
}

.mainnav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:30px;
}

.mainnav ul li{

}

.mainnav ul li a{
    text-decoration: none;
    color: var(--text);
}