.home img{
    height: 420px;
    width: 80%;
    flex-grow: 3;
    border-radius: 25px;
    aspect-ratio: 9/16;
    flex-basis: 0;
    margin-left: 5vw;
}

.home{
    padding: 20px 40px;
}

.wrapper{
    padding: 50px 0;
    width: 100%;
    display: flex;
    gap:30px;
    align-items: center;
}


.info{
    padding: 0 0 30px 15px;
    display: flex;
    flex-direction: column;
    gap:30px;
    flex-grow: 8;
    flex-basis: 0;
}

.title h3{
    font-size: 3.5rem;
    font-weight: 800;
}

.title h3:first-child{
    color: var(--blue);
}

.desc p{
    font-size: 1.15rem;
    text-align: justify;
}

.buttons{
    display: flex;
    gap: 40px;
    align-items: center;
}

.buttons a{
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
    transition: all 0.2s ease;
    font-size: 1.3rem;
    text-align: center;
    width: 150px;
}

.buttons a:first-child{
    color: var(--text);
    background-color: var(--blue);
    border:3px solid var(--blue)
}
.buttons a:hover{
    background-color: var(--blue-dim);
    transform: scale(1.05);
}

.buttons a:last-child{
    color: var(--blue);
    background-color: #ffffff12;
    border: 3px solid var(--text);
}


@media screen and (max-width:850px) {
    .title h3{
        font-size: 5vw;
        font-weight: 800;
    }
}

@media screen and (max-width:550px) {
    .home{
        padding: 0 10px;
    }
    .wrapper{
        flex-direction: column;
        padding: 10px 0;
        gap:20px;
    }

    .wrapper img{
        margin: 0;
        height: 40vh;
        width: 70%;
    }

    .info{
        padding: 10px;
        width: 100%;
        gap:20px;
        align-items: center ;
    }

    .title h3{
        font-size: 1.7rem;
    }
    .desc{
        padding: 0 15px;
        line-height: 1.5;
    }
    .desc p{
        font-size: 1rem;
    }
    .buttons{
        gap:0;
        width: 100%;
        justify-content: space-around;
    }
    .info .buttons a{
        font-size: 1.2rem;
        padding: 5px 10px;
        width: 40%;
        
    }
}