.wrapper .img{
    height: 420px;
    width: 80%;
    width: 30vw;
    margin-left: 5vw;
    overflow: hidden;
    border-radius: 25px;
}

.home img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    aspect-ratio: 9/16;
    transition: transform 0.2s ease;
}
.home img:hover{
    transform: scale(1.04);
}
.home{
    padding: 20px 40px;
}

.wrapper{
    padding: 50px 20px 50px 0;
    width: 100%;
    display: flex;
    gap:30px;
    align-items: center;
}


.info{
    padding: 0 0 30px 15px;
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 70vw;
}

.title h3{
    font-size: 3.5rem;
    font-weight: 800;
}

.title h3:first-child{
    color: var(--blue);
}

.desc p{
    font-size: 1.15rem;
    text-align: justify;
}

.buttons{
    display: flex;
    gap: 40px;
    align-items: center;
}

.buttons a{
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
    transition: all 0.2s ease;
    font-size: 1.3rem;
    text-align: center;
    width: 150px;
}

.buttons a:first-child{
    color: var(--text);
    background-color: var(--blue);
    border:3px solid var(--blue)
}
.buttons a:hover{
    background-color: var(--blue-dim);
    transform: scale(1.05);
}

.buttons a:last-child{
    color: var(--blue);
    background-color: var(--btn-trans);
    border: 3px solid var(--text);
}


@media screen and (max-width:880px) {
    .title h3{
        font-size: 5vw;
        font-weight: 800;
    }
}

@media screen and (min-width:551px) and (max-width:750px) {
    .home .wrapper .img{
        margin-left: 0;
    }
}

@media screen and (max-width:700px) {
    .wrapper{
        flex-direction: column;
        padding: 10px 0;
        gap:20px;
    }

    .wrapper .img{
        margin: 0;
        height: 300px;
        width: 70%;
    }

    .wrapper .img img{
        animation: scaleupdown 5s ease infinite;
    }
    @keyframes scaleupdown {
        0%{
            transform:scale(1);
        }
        50%{
            transform: scale(1.05);
        }
        100%{
            transform: scale(1);
        }
    }

    .info{
        padding: 10px;
        width: 100%;
        gap:20px;
        align-items: center ;
    }

    .title h3{
        font-size: 1.7rem;
    }
    .desc{
        padding: 0 15px;
        line-height: 1.5;
    }
    .desc p{
        font-size: 1rem;
    }
    .buttons{
        gap:0;
        width: 100%;
        justify-content: space-around;
    }
    .info .buttons a{
        font-size: 1.2rem;
        padding: 5px 10px;
        width: 40%;
        
    }
}