@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

.cmr{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100dvh;
}

.cmr *{
    font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:"wdth"100;
}