.dashboard {
    margin: 30px 0 40px 0;
}

.dashboard .title {
    text-align: center;
}

.dashboard .title h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #FF6347;
}

.dashboard .title p {
    font-size: 1.1rem;
    color: #FF7F7F;
}

.dashboard .nodata {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 40px;
    color: #FF7F7F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}

.dashboard .nodata a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #FF6347;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1.2rem;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.dashboard .nodata a:hover {
    background-color: #e95b41;
    transform: scale(1.02);
}

.dashboard .charts {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.dashboard .details {
    color: #333333;
    padding: 10px;
}

.dashboard .details h2 {
    color: #FF6347;
    font-size: 1.8rem;
}

.dashboard .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
    justify-items: start;
    align-items: baseline;
}

.dashboard .cards .card {
    min-width: 250px;
    padding: 15px;
    border: 2px solid #ffdad7;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(161, 2, 2, 0.1);
}

.card strong {
    color: #555;
}

.card p, .card p a {
    color: #ff6b5f;
}

.card p.short{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:2px;
}

.card p.short svg{
    height: 18px;
    z-index: 2;
}

.card p.short svg:hover{
    transform: translateY(-1px) scale(1.02);
    cursor: pointer;
    transition: trabsform 0.2s ease;
}

.card p.short .cicon{
    position: relative;
    display: flex;
}

.card p.short span{
    height: 24px;
    width: 24px;
    content: "";
    background-color: #c9c9c9;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
    cursor: pointer;
}

.card p.short svg:hover ~ span{
    display: block;
}

.dashboard .cards .card:hover {
    transform: translateY(-2px);
    transition: all 0.2s ease;
    box-shadow: 0 4px 12px rgba(255, 107, 95, 0.2);
}

.dashboard .card .dbtn, .dbtn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}

.dbtn button {
    padding: 4px 10px;
    border-radius: 4px;
    border: none;
    font-size: 0.9rem;
    background-color: #ff4d4f;
    color: #ffffff;
    cursor: pointer;
}

.dbtn button:hover {
    transform: translateY(-1px) scale(1.02);
    transition: all 0.2s ease;
}

.dbtn button:last-child{
    color: white;
    background-color: #4da6ff;
}

.dashboard .prompt {
    height: 100dvh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .prompt .area {
    background-color: #fff5f5;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.area h4,.area h3{
    color: #d32f2f;
}
.area h3{
    font-weight: 600;
}
.area h3 strong{
    font-weight: 1200;
}

.prompt .area p {
    color: #555555;
    width: 80%;
    margin: 15px auto 0 auto;
}

.area .opt{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.area .opt button{
    padding: 4px 20px;
    border-radius: 4px;
    border: none;
    background-color: #ff4d4f;
    color: white;
    cursor: pointer;
}

.area .opt button:hover{
    background-color: #e04345;
    scale: 1.02;
}

.area .einp{
    margin: 5px 0 5px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:15px;
}


@media screen and (max-width: 550px) {
    .dashboard .title h1 {
        font-size: 2rem;
    }

    .dashboard .title p {
        font-size: 1rem;
        width: 90%;
        margin: auto;
    }

    .nodata p {
        font-size: 1.2rem;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .dashboard .nodata a {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .dashboard .charts {
        display: block;
    }

    .dashboard .cards {
        justify-items: center;
    }
}

@media screen and (min-width:550px) and (max-width: 800px) {
    .dashboard .cards {
        gap: 10px;
    }
}