@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.game{
	margin-bottom: 20px;
}

.gameinfo {
	display: grid;
	grid-template-columns: 46vw 46vw;
	grid-template-rows: 30px 30px;
	justify-content: space-between;
	border: 2px solid var(--text);
	border-radius: 10px;
	width: 90%;
	margin: 20px auto 0;
	gap: 5px;
	align-items: center;

}

.gameinfo p {
	color: var(--font-color)
}

.gameinfo .gameid, .gameinfo .timer {
	margin-left: 25px;
}

.gamearea {
	margin-top: 30px;
	position: relative;
}

.blocks {
	display: grid;
	justify-content: center;
	gap: 10px;
	grid-template-columns: repeat(4, calc(100vw/4 - 6vw));
	grid-template-rows: repeat(4, calc(100vw/4 - 12px));
}

.blocks .block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: var(--block-base);
}

.blocks .block img {
	display: none;
}

.blocks .block:hover {
	background-color: var(--block-hover);
	scale: 1.05;
}

.shading {
	height: 100vw;
	width: 89vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--shading-background);
	gap: 20px;
}

.shading p {
	color: var(--text);
	font-size: 25px;
	background-color: var(--blue);
	padding: 10px;
	border-radius: 10px;
}

.shading button {
	cursor: pointer;
	padding: 15px;
	font-size: 15px;
	border-radius: 10px;
	outline: none;
	border: none;
	background-color: var(--blue);
	color: var(--text);
}

.shading button:hover {
	scale: 1.05;
	background-color: var(--blue-dim);
}

.options {
	margin-top: 40px;
}

.options p {
	text-align: center;
	color: var(--text)
}

.options .buttons {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}


.options .buttons button {
	background-color: var(--block-base);
	min-width: 10vw;
	outline: none;
	padding: 10px;
	border: 1px solid var(--button-border);
	color: var(--text);
	border-radius: 10px;
	font-size: 15px;
}

.active {
	background-color: var(--light-black) !important;
	scale: 1.2;
}


.fail .bomb, .success .diamond, .success .twinkle {
	display: block !important;
	width: calc(100vw/4 - 10vw);
	height: calc(100vw/4 - 30px);
	animation: fade 0.5s linear;
}

.success .diamond {
	height: calc(100vw/4 - 50px);
	width: calc(100vw/4 - 12vw);
}

.success .twinkle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: calc(100vw/4 - 50px);
	width: calc(100vw/4 - 12vw);
	width: 100%;
	animation: fade 0.5s linear;
}

@keyframes fade {
	0% {
		opacity: 0;
		scale: 0.5;
	}

	30% {
		scale: 1;
	}

	100% {
		opacity: 1;

	}
}

.reset {
	margin-top: 30px;
	padding: 10px;
	border-radius: 10px;
	color: var(--text);
	background-color: var(--blue);
	border: none;
	cursor: pointer;

}

.reset:hover{
	background-color: var(--blue-dim);
	scale: 1.03;
}

.resetdiv {
	text-align: center;
}

.warningcard {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: var(--shading-background);
}

.warning {
	background-color: var(--switch-ball);
	height: fit-content;
	padding: 20px;
	width: fit-content;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.warning h3 {
	margin: 10px 0 10px 0;
}

.warning p {
	min-width: 60vw;
}

.warning .btn {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}

.btn button {
	background-color: var(--blue);
	color: var(--text);
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	width: 17vw;
	text-align: center;
}

.stars {
	display: flex;
	gap: 10px;
	justify-content: center;
	cursor: pointer;
}

.stars .s2 {
	display: none;
}


@media screen and (min-width:800px) and (max-width:1100px) {
	.shading button {
		width: 35vw;
		font-size: 1.3rem;
	}

	.block .diamond {
		width: 10vw;
		height: 15vw;
	}

	.block .twinkle {
		width: 10vw;
		height: 15vw;
	}
}

@media screen and (min-width:1101px) {
	.maingame {
		display: flex;
		flex-direction: row;
		gap: 0.02vw;
		margin-top: 20px;
	}

	.gameinfo {
		margin: 7vw auto 0;
		width: 40%;
		grid-template-columns: 20vw 19vw;
		gap: 0px;
		grid-template-rows: 60px 60px;
		height: fit-content;
		justify-content: center;
	}

	.gameinfo .gameid, .gameinfo .maxscore, .gameinfo .timer, .gameinfo .currentscore {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		font-size: 1.2rem;
	}

	.gameinfo .gameid {

		border-right: 1px solid var(--text);
		border-bottom: 1px solid var(--text);
		margin-left: 0;
		padding: 0 25px;
	}

	.gameinfo .maxscore {
		margin-left: 0;
		border-bottom: 1px solid var(--text);
		border-left: 1px solid var(--text);

	}

	.gameinfo .timer {
		border-top: 1px solid var(--text);
		border-right: 1px solid var(--text);
		margin-left: 0;
	}

	.gameinfo .currentscore {
		border-top: 1px solid var(--text);
		border-left: 1px solid var(--text);
	}


	.gamearea {
		width: 55%
	}

	.blocks {
		grid-template-columns: repeat(4, 8vw);
		grid-template-rows: repeat(4, 8vw);
	}

	.blocks .block {
		cursor: pointer;
	}

	.shading {
		height: 35vw;
		width: 35vw;
	}

	.options {
		position: absolute;
		top: 24vw;
		width: 40%;
		left: 20px;
	}

	.options p {
		font-size: 1.2rem;
		margin-bottom: 20px;
	}

	.options .buttons button {
		min-width: 6vw;
		cursor: pointer;
	}

	.shading button {
		cursor: pointer;
		height: 6vw;
		width: 15vw;
		font-size: 1.3rem;
	}

	.shading button:hover {
		scale: 1.1;
	}

	.success .diamond, .fail .bomb, .success .twinkle {
		height: 80px;
		width: 80px;
	}

	.reset {
		padding: 10px 20px;
		border-radius: 10px;
		color: var(--text);
		background-color: var(--blue);
		border: none;
		cursor: pointer;
		font-size: 1.1rem;
	}

	.resetdiv {
		position: relative;
		bottom: 5vw;
		width: 42%;
		text-align: center;
	}

	.warning p {
		min-width: 30vw;
	}

	.warning .btn button {
		width: 10vw;
		cursor: pointer;
	}

	.warning .btn button:hover {
		scale: 1.1;
	}

}

.choose{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 10px;
}
.choose p{
	text-align: center;
	width: 45%;
	font-size: 1.2rem;
	background-color: var(--footer);
	padding: 4px 0;
	border-radius: 10px;
	cursor: pointer;
}

.choose .cactive{
	background-color: var(--block-hover);
	scale:1.01;
}