.switchthemeback {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 30px;
    width: 60px;
    background-color: var(--switch-back);
    border-radius: 20px;
}

.switchthemeback::after {
    content: "";
    animation: moveleft 0.2s linear;
    display: block;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    height: 26px;
    width: 30px;
    border-radius: 20px;
    background-color: var(--switch-ball);
    overflow: hidden;
    cursor: pointer;
}

.dark .switchthemeback::after {
    right: 1px;
    left: auto;
    animation: moveright 0.2s linear;

}

.dark .lighticon {
    visibility: hidden;
}

.switchtheme {
    cursor: pointer;
    position: relative;
    width: fit-content;
}

.lighticon {
    height: 20px;
    z-index: 1;
    margin-left: 2px;
}

.darkicon {
    height: 20px;
    visibility: hidden;
    z-index: 1;
}

.dark .darkicon {
    visibility: visible;
    animation: fadein 0.2s linear;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveleft {
    0% {
        left: 29px;
    }

    100% {
        left: 1px;
    }
}

@keyframes moveright {
    0% {
        left: 1px;
    }

    100% {
        left: 29px;
    }
}