.adesc{
    text-align: justify;
    padding: 20px 30px;
}
.adesc p{
    margin-top: 10px;
}
@media screen and (max-width:800px) {
    .adesc{
        padding: 10px 10px;
        font-size: 0.9rem;
        line-height: 1.3;
    }

}