header {
    height: 60px;
    width: 100%;
    background-color: var(--header-back);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid var(--switch-back);
}

.mainnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
}

.mainlogo a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.3rem;
    font-weight: 700;
}

.mainlogo, .mainnav, .switchtheme{
    display: flex;
    align-items: center;
}

.mainnav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
}

.mainnav ul li a {
    text-decoration: none;
    color: var(--text);
}

.mainnav ul li a.activea, .mainnav ul li a:hover, .mainnav ul li a:hover .mainnav ul li a{
    border-bottom: 2px solid var(--text-dim);
    color:var(--text-dim)
}