.progress{
    position: relative;
    display: block;
    background-color: var(--progress-bar);
    content: "";
    height: 12px;
    width: 230px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 0 4px;
}

.progress .bar{
    display: block;
    background-color: var(--blue);
    height: 8px;
    width: 0%;
    content: "";
    position: absolute;
    border-radius: 10px;
    top:50%;
    transform: translateY(-50%);
}

