@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", serif;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
	color-scheme: dark;
	--back: light-dark(#292929, #f0f0f0);
	--header-back: light-dark(#f0f0f0, #292929);
	--switch-back: light-dark(#c5c5c5, #5b5b5b);
	--switch-ball: light-dark(#f0f0f0, #272525);
	--text: light-dark(#000000, #ffffff);
	--text-dim: light-dark(#595959,#a5a5a5);
	--option-back: light-dark(#868686,#dcdcdc);
	--main-col:light-dark(#ffffff,#000000);
}

html{
	scroll-behavior: smooth;
	background-color: var(--main-col);
}