* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", serif;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
	color-scheme: dark;
	--back: light-dark(#292929, #f0f0f0);
	--header-back: light-dark(#f0f0f0, #292929);
	--switch-back: light-dark(#c5c5c5, #5b5b5b);
	--switch-ball: light-dark(#f0f0f0, #272525);
	--text: light-dark(#000000, #ffffff);
	--text-dim: light-dark(#595959,#a5a5a5);
	--option-back: light-dark(#868686,#dcdcdc);
	--main-col:light-dark(#ffffff,#000000);
	--blue: #0ea5e9;
	--blue-dim: #0ea5e9ed;
	--progress-bar: light-dark(#8f8f8f,#f0f0f0);
	--transparent: light-dark(#ffffff80,#00000080);
	--shading-background: light-dark(#cbcbcb94,#44444485);
	--feedback:light-dark(#ffffff,#080808);
	--footer:light-dark(#c3c3c3,#292929);
	--block-base: light-dark(#adadac,#2f4553);
	--block-hover: light-dark(#c1c1c1,#557086);
	--shading-background: light-dark(#65656559,#44444485);
	--button-border: light-dark(#212121,#959292);
	--light-black:  light-dark(#f0f0f0,#0c0c0c);
	--choose-active: light-dark(#9b9a9a,#575757);
	--choose: light-dark(#c0c0c0,#292929);
	--info: light-dark(#bfbfbf,#444444);
	--btn-trans:light-dark(#00000012,#ffffff12);
	--scard: light-dark(#e0e0e0,#353535);
	--files-choose-back: light-dark(#ededed, #454545);
	--files-choose-active: light-dark(white, black);
	--files-choose-shadow: light-dark(#f0f0f0, #00000082);
	--files-choose-border: light-dark(#0000003d, #d1cbcb8c);
	--files-upload-back: light-dark(#00000008, #534c4c78);
	--files-status-back: light-dark(#35b7f1b3, #2dbeffc7);
	--files-status-border: light-dark(var(--blue), #e1f2f9)
}

html{
	scroll-behavior: smooth;
	background-color: var(--main-col);
	overflow-y: scroll;
}

.app{
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.disnone{
	display: none;
}
