

.skills .skill svg{
    height: 60px;
    width: 65px;
    fill: var(--text);
}

.skill{
    display: flex;
    gap:5px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: var(--scard);
    border-radius: 10px;
    transition: transform 0.2s ease;

}

.skill:hover{
    transform: scale(1.03);
    box-shadow: 0 0 8px 2px var(--header-back);

}

.scards{
    padding: 30px 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(90px,1fr));
    justify-content: center;
    justify-items: center;
}